/* main.css */

::-webkit-scrollbar {
    width: 12px; /* Ширина полосы прокрутки */
}

::-webkit-scrollbar-track {
    background-color: #2d6c55; /* Цвет фона трека */
}

::-webkit-scrollbar-thumb {
    background-color: #888; /* Цвет полосы прокрутки */
    border-radius: 6px; /* Скругление углов полосы прокрутки */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Цвет полосы прокрутки при наведении */
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #333;
    opacity: 0;
    transition: opacity 0.3s;
    background-image: url("../img/Site/wallpaper.jpg");
    background-size: cover;
    transform: 0.3s;
    background-attachment:fixed;
    cursor: url('../../img/cursor/cursorMain.png'), auto;
}

header {
    background-color: #2d6c55;
    color: #fff;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
}


/* Новые стили для логотипа */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 1rem; /* Расстояние между логотипом и надписью */
    width: 50px; /* Размер логотипа */
    height: 50px;
}

.logo h1 {
    margin: 0;
    font-size: 2rem;
}


.hero {
    background-color: #e0f2f1;
    padding: 4rem 0;
    text-align: center;
    background-image: url("../img/Site/header_wallpaper.jpg");
    background-size: cover;
    background-attachment:fixed;
}

.hero h2 {
    margin: 0;
    font-size: 2.5rem;
    color: #333;
}


.btn_continue {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: #2d6c55;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 40px;
    transition: background-color 0.3s, transform 0.3s;
}

.btn_continue:hover {
    background-color: #1f4d3d; /* Изменяем цвет фона при наведении */
    transform: scale(1.1); /* Увеличение кнопки на 10% при наведении */
}

.news {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    margin-left: 5rem;
}

.article {
    flex-basis: calc(50% - 1rem);
    background-color: #000;
    padding: 1.5rem;
    border-radius: 4px;
    margin-right: 6rem;
    position: relative;
    z-index: 0;
    transition: transform 0.3s;
}

.article:hover, .article-news:hover{
    transform: scale(1.05);
}

.background-blur-news {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(5px); /* Добавляем размытие только к фону */
    z-index: -1;
}

.article, .article-news p {
    color: #fff;
}

.developments {
    display: flex;
    flex-wrap: wrap; /* Добавьте wrap для переноса на новую строку, если не помещается на одной */
    gap: 1rem; /* Расстояние между элементами */
}

.development-xc, .development-bot, .development-sd, .development-qlake {
    flex-basis: calc(50% - 3rem); /* 2 элемента в ряду, с расстоянием между ними */
    background-color: #fff;
    padding: 2rem;
    margin-left: 5rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem; /* Расстояние между блоками "Разработки" */
    position: relative;
    z-index: 0;
    transition: transform 0.3s;
}

.development-bot-devs, .development-xc-devs {
    flex-basis: calc(50% - 3rem); /* 2 элемента в ряду, с расстоянием между ними */
    background-color: #fff;
    padding: 2rem;
    margin-left: 5rem;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem; /* Расстояние между блоками "Разработки" */
    position: relative;
    z-index: 0;
    transition: transform 0.3s;
    width: 50%;
    height: 350px;
    margin: 0 auto;
}

.background-blur-xc, .background-blur-bot, .background-blur-sd, .background-blur-qlake, .background-blur-site {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: blur(10px); /* Добавляем размытие только к фону */
    z-index: -1;
}

.development-xc:hover, .development-bot:hover, .development-sd:hover, .development-qlake:hover, .development-bot-devs:hover, .development-xc-devs:hover {
    transform: scale(1.05);
}

.background-blur-xc {
    background-image: url("../img/XenoClock/XC_wallpaper.jpg"); 
}

.background-blur-bot {
    background-image: url("../img/Bot/Bot_wallpaper.jpg");
}

.background-blur-sd {
    background-image: url("../img/SD/SD_wallpaper.jpg");
}

.background-blur-qlake {
    background-image: url("../img/Qlake/Qlake_wallpaper.jpg");
}

.background-blur-site {
    background-image: url("../img/Site/site_wallpaper.jpg");
}

.background-more-black{
    opacity: 0.85;
}

.development-info {
    position: relative;
}

.development-xc h3, .development-xc p, .development-bot h3, .development-bot p, .development-sd h3, .development-sd p, .development-qlake h3, .development-qlake p, .development-bot-devs h3, .development-bot-devs p, .development-xc-devs h3, .development-xc-devs p {
    color: #fff;
}

.footer {
    background-color: #2d6c55;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
}

.footer-fixed{
    background-color: #2d6c55;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 3rem;
    position: fixed; 
    left: 0; bottom: 0; 
    padding: 10px; 
    width: 100%;

}

.footer-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.footer-button {
    padding: 0.5rem 1rem;
    background-color: #fff;
    color: #2d6c55;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.footer-button:hover {
    background-color: #1f4d3d; /* Черный фон при наведении */
    color: #fff; /* Белый текст при наведении */
    transform: scale(1.1); /* Увеличение кнопки на 5% при наведении */
}

.centered-text {
    text-align: center;
    margin-bottom: 2rem;
}

.dev_one_string {
    display: flex;
    margin-right: 6rem;
}

.dev_one_string_one {
    display: flex;
    width: 60%;
    height:350px;
    margin:0 auto;
    background: #369;
}

img {
    border-radius: 10px;
}

.btn_scroll_top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #2d6c55;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s, background-color 0.3s, transform 0.3s;
}

.btn_scroll_top:hover {
    background-color: #1f4d3d;
    transform: scale(1.1);
}


.mainPageName {
    padding-left: 32rem;
    text-align: center;
}


.nav-links {
    padding-top:1rem;
    list-style: none;
    display: flex;
    gap: 1rem;
    height:30px;
}

.nav-links li {
    width: 125px; /* Задаем фиксированную ширину элементов списка */
    text-align: center; /* Выравниваем текст по центру */
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    display: block; /* Делаем ссылки блочными элементами, чтобы они занимали всю доступную ширину */
    padding: 10px 0; /* Добавляем немного вертикального отступа для стиля */
    transition: color, font-size 0.3s; /* Добавляем анимацию смены цвета текста */
}

.nav-links a:hover {
    color: #A9A9A9; /* Цвет при наведении */
    font-size: 18px; /* Увеличение размера шрифта при наведении */
}




.about-me {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.about-me h2 {
    font-size: 24px;
    color: #2d6c55;
}

.about-me p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
}

.about-me img {
    max-width: 100%;
    height: auto;
}




.contact-info {
    background-color: #fff; /* Цвет фона блока контактов */
    padding: 2rem;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень блока контактов */
    
}

.contact-info h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    margin: 10px 0;
    font-size: 18px;
    line-height: 1.5;
    transition: font-size 0.3s, height 0.3s; /* Добавляем анимацию смены размера шрифта и высоты элемента */
    height: 40px; /* Задаем фиксированную высоту элементов списка */
    overflow: hidden; /* Обрезаем текст, который выходит за пределы высоты элемента */
}

.contact-info a {
    text-decoration: none;
    color: #007acc; /* Цвет ссылок */
    font-weight: bold;
    display: inline-block; /* Делаем ссылки блочными элементами для выравнивания текста по вертикали */
    height: 100%; /* Заполняем высоту элемента ссылками */
    width: 100%; /* Заполняем ширину элемента ссылками */
    vertical-align: middle; /* Выравниваем текст по вертикали */
}

.contact-info li:hover {
    font-size: 20px;
    height: 50px; /* Изменяем высоту элемента при наведении */
}












/* Стили для заголовка и логотипа игры */
.devs-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin: 35px auto;
    width: 65%;
    text-align: center;
}

.devs-logo img {
    max-width: 250px;
    height: auto;
    margin-right: 20px;
}

.devs-details{
    text-align:left;
}

.devs-details h2 {
    font-size: 32px;
    margin: 0;
}

.devs-details p {
    font-size: 18px;
    margin: 5px 0;

}

/* Стили для описания игры */
.devs-description p{
    text-align:left;
}
.devs-description p {
    font-size: 18px;
    line-height: 1.5;
}

/* Стили для таблицы с системными требованиями */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 18px;
}

table th, table td {
    border: 1px solid #2d6c55; /* Цвет границ таблицы */
    padding: 10px;
    text-align: left;
}

/* Стили для ссылок и кнопок */
a {
    color: #007acc; /* Цвет ссылок */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}


.devs-info {
    margin: 0 auto;
    text-align: center;
    width: 70%;
    box-sizing: border-box;
}


.news-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top:2.5rem;
}

.article-news{
    flex-basis: calc(50% - 10rem);
    background-color: #000;
    color:#fff;
    padding: 1.5rem;
    border-radius: 4px;
    margin-right: 6rem;
    position: relative;
    z-index: 0;
    transition: transform 0.3s;
}

.news-news {
    flex-basis: calc(50% - 3rem);
    position: relative;
    justify-content: space-between;
    padding: 1rem 0;
    margin-left: 5rem;
}

.pagination{
    display: flex;
    justify-content: flex-end; /* Размещаем справа от центра */
}

.pagination-button {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: #2d6c55;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 40px;
    transition: background-color 0.3s, transform 0.3s;
    margin-right:100px;
}

.pagination-button:hover {
    background-color: #1f4d3d; /* Изменяем цвет фона при наведении */
    transform: scale(1.1); /* Увеличение кнопки на 10% при наведении */
}


.centered-text-news{
    width:100%;
    text-align: center;
}

.inline_text{
    display: inline;
}

.opacity0{
    opacity:0;
}

.page-container{
    border-left: 10px solid #2d6c55;
    border-right: 10px solid #2d6c55;
    height: 100%;
    display: none;
}

.language-buttons{
    position: absolute;
    margin-top:-10px;
    right:2rem;
    
}

.language-buttons button {
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 50px;
    transition: background-color 0.3s, transform 0.3s;
}
.language-buttons button:hover {
    transform: scale(1.1);
}


/* Стиль для кнопки переключения на английский */
#switchToEnglish {
    background-color: #3498db;
    color: #fff;
    border: none;
}
#switchToEnglish:hover{
    background-color: #0b0b64;
}

/* Стиль для кнопки переключения на русский */
#switchToRussian {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    margin-top: 7px;
}

#switchToRussian:hover {
    background-color: #8B0000;
}


#switchToFrench {
    background-color: #800080;
    color: #fff;
    border: none;
    margin-top: 7px;
}

#switchToFrench:hover {
    background-color: #9400D3;
}


#switchToSpanish {
    background-color: #40E0D0;
    color: #fff;
    border: none;
    margin-top: 7px;
}

#switchToSpanish:hover {
    background-color: #00CED1;
}

.spin-wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #080705;
  
    .spinner{
      position: absolute;
      height: 60px;
      width: 60px;
      border: 3px solid transparent;
      border-top-color: #A04668;
      top: 50%;
      left: 50%;
      margin: -30px;
      border-radius: 50%;
      animation: spin 2s linear infinite;
      
      &:before, &:after{
        content:'';
        position: absolute;
        border: 3px solid transparent;
        border-radius: 50%;
      }
      
      &:before{
        border-top-color: #254E70;
        top: -12px;
        left: -12px;
        right: -12px;
        bottom: -12px;
        animation: spin 3s linear infinite;
      }
      
      &:after{
        border-top-color: #FFFBFE;
        top: 6px;
        left: 6px;
        right: 6px;
        bottom: 6px;  
        animation: spin 4s linear infinite;
      }
    }
}


.sdTrailers, .qlakeTrailers, .qlakeImgs, .sdImgs{
    text-align: left;
}
.sdTrailers iframe, .qlakeTrailers iframe, .qlakeImgs img, .sdImgs img{
    margin-left:2rem;
    transition: transform 0.3s;
    cursor: pointer;
}

.qlakeImgs img:hover, .sdImgs img:hover{
    transform: scale(1.1);
}




.image-modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: translateY(50px);
  }
  
  .image-modal img {
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%;
  }
  
  .close-modal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }



  .image-modal.show {
    opacity: 1;
    transform: translateY(0);
  }



.status_table{
    width:75%;
    margin:0 auto;
}

.text-left{
    text-align: left;
}


.makaev_group_div p{
    padding-left: 50px;
}

.language-dropdown {
    position: relative;
    display: inline-block;
}

.language-dropdown-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.language-dropdown-content {
    display: none;
    position: absolute;
    padding-top: 15px;
    min-width: 80px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.language-dropdown-content button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
}

.language-dropdown:hover .language-dropdown-content {
    display: block;
}
  
@keyframes spin{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}


.custom-cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none; /* Ensures cursor does not interfere with clicks */
    z-index: 9999; /* Ensures cursor is on top of other elements */
}


/* Добавьте стили, которые будут применяться для мобильных устройств с шириной экрана менее 768px */
@media screen and (max-width: 896px) {
    body {
        font-size: 16px; /* Уменьшение размера шрифта для мобильных устройств */
    }

    .nav-links {
        flex-direction: column; /* Отображаем элементы списка вертикально */
        gap:0rem;
    }

    .nav-links li {
        width: auto; /* Снимаем фиксированную ширину */
        text-align: left; /* Выравниваем текст слева */
        margin-bottom: 10px; /* Добавляем отступ между элементами списка */
    }

    .nav-links a {
        font-size: 16px; /* Уменьшаем размер шрифта */
        padding: 0;
    }

    .logo h1 {
        font-size: 1.5rem; /* Уменьшение размера шрифта заголовка логотипа */
    }


    .news {
        flex-direction: column; /* Расположение новостей в столбец */
        margin-left: 1rem; /* Уменьшение отступа слева для новостей */
        margin-right: 1rem; /* Уменьшение отступа справа для новостей */
    }

    .article {
        flex-basis: 100%; /* Новости занимают всю доступную ширину */
        margin-right: 0; /* Убираем правый отступ для новостей */
        margin-top:50px;
    }

    .btn_continue {
        margin-top: 20px; /* Уменьшение отступа между кнопками */
    }

    .footer {
        margin-top: 2rem; /* Увеличение отступа сверху для подвала */
    }

    .footer-buttons {
        flex-direction: column; /* Расположение кнопок подвала в столбец */
        width:100%;
        gap: 0.5rem; /* Увеличение расстояния между кнопками подвала */
        justify-content: center;
    }
    .footer-button {
        margin-left: 60px;
        margin-right: 60px;
    }
    .btn_scroll_top {
        right: 1rem; /* Перемещение кнопки "наверх" вправо */
        bottom: 1rem; /* Перемещение кнопки "наверх" вниз */
        background-color: #fff;
    }
    /* Стили для блока "Обо мне" */
    .about-me {
        padding: 10px; /* Уменьшаем отступы */
        max-width: 100%; /* Расширяем максимальную ширину */
    }

    .about-me h2 {
        font-size: 20px; /* Уменьшаем размер заголовка */
    }

    .about-me p {
        font-size: 16px; /* Уменьшаем размер текста */
    }
    .about-me img {
        width: 140px;
        height: 140px;
    }
    /* Стили для блока "Контактная информация" */
    .contact-info {
        padding: 1rem; /* Уменьшаем отступы */
    }

    .contact-info h2 {
        font-size: 20px; /* Уменьшаем размер заголовка */
        margin-bottom: 10px; /* Уменьшаем отступ снизу */
    }

    .contact-info li {
        font-size: 16px; /* Уменьшаем размер текста */
    }

    /* Стили для заголовка и логотипа игры */
    .devs-header {
        width: 100%; /* Занимает всю доступную ширину */
    }

    .devs-logo img {
        max-width: 100px; /* Уменьшаем размер логотипа */
        margin-right: 10px; /* Уменьшаем отступ справа */
    }

    .devs-details h2 {
        font-size: 24px; /* Увеличиваем размер заголовка */
    }

    .devs-details p {
        font-size: 16px; /* Уменьшаем размер текста */
        margin: 5px 0;
    }

    /* Стили для описания игры */
    .devs-description p {
        font-size: 16px; /* Уменьшаем размер текста */
        line-height: 1.4; /* Уменьшаем межстрочный интервал */
    }

    /* Стили для таблицы с системными требованиями */
    table {
        font-size: 16px; /* Уменьшаем размер текста */
    }

    /* Стили для ссылок и кнопок */
    a {
        font-size: 16px; /* Уменьшаем размер текста */
    }

    /* Стили для новостей */
    .news-row {
        flex-direction: column; /* Столбцовая компоновка элементов */
        margin-top: 1rem; /* Увеличиваем отступ между новостями */
    }

    .article-news {
        flex-basis: 100%; /* Занимает всю ширину */
        margin:0 auto;
        width: 75%;
        margin-top: 25px;
    }

    .news-news {
        flex-basis: 100%; /* Занимает всю ширину */
        margin-left: 0; /* Убираем левый отступ */
        margin-bottom: 1rem; /* Добавляем отступ снизу */
    }

    .pagination {
        justify-content: center; /* Выравниваем по центру */
    }

    .pagination-button {
        margin-top: 20px; /* Увеличиваем отступ сверху */
        margin-right: 0; /* Убираем правый отступ */
    }
    .dev_one_string {
        display: block;
        margin-right: 6rem;
        margin-top: 2rem;
    }
    .development-xc-devs{
        height: 600px;
    }
    .development-bot-devs{
        height: 425px;
    }
    .development-sd, .development-qlake{
        width: 65%;
        padding: 0 auto;
    }
    table {
        margin-left:-60px;
    }
    iframe{
        width: 100%;
        height: 10%;
    }
    .qlakeImgs img, .sdImgs img{
        margin-left:-2rem;
    }
    .sdTrailers iframe, .qlakeTrailers iframe{
        margin-left:0rem;
    }
    .status_table{
        transform: scale(0.65);
        margin-left: 0rem;
    }
    .makaev_group_div p{
        padding-left: 0px;
    }
    .footer-fixed{
        position: relative; 
    }
}
